.groups{
    z-index: 3;
    height: 120vh;
    position: relative;
    top: 120vh;
    width: 100%;
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 1) 0%, hsla(272, 30%, 22%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(0, 0%, 0%, 1) 0%, hsla(272, 30%, 22%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(0, 0%, 0%, 1) 0%, hsla(272, 30%, 22%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#010101", endColorstr="#392749", GradientType=1 );    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


.groups-content{
    margin-left: 10%;
    margin-right: 10%;
}

.groups-title{
    text-align: center;
}

.groups-title h1{
    color: #fff;
    font-size: 45px;
    font-weight: 900;
}

.groups-title p{
    color: #fff;
    font-size: 18px;
}

.groups-title span{
    font-style: italic;
    color: #ba9df8;
}

.groups-adittional-info{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.groups-left{
    width: 50%;
}

.groups-right{
    width: 50%;
    color: #fff;
}

.groups-right h3{
    font-size: 24px;
    font-weight: 600;
}

.groups-right p{
    font-size: 14px;
    position: relative;
    bottom: 20px;
}

.group-api-btn{
    color: #000;
    border-radius: 99px;
    background-color: #fff;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px; 
    overflow: hidden;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.group-api-btn:hover{
    background-color: #bababc;
}

.group-documentation-btn{
    color: #fff;
    border-radius: 99px;
    border: 2px solid #fff;
    background-color: transparent;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    /* height: 40px; */
    padding: 12px 30px; 
    overflow: hidden;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.group-documentation-btn:hover{
    background-color: #bababc;
    border: none;
    color: #000;
}

.input-code{
    background: transparent;
    height: 100%;
    width: 500px;
    border-radius: 30px;
}